.main-container {
    width: 100%;
    display: block;
}
.main-container:focus-visible {
    outline: -webkit-focus-ring-color auto 1px;
}
.sub-container {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 24px 60px 39px;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
}
.logo-image {
    cursor: pointer;
    height: 28px;
}
.nav-container {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.nav-sub-container {
    display: flex;
    justify-content: space-around;
    -webkit-box-pack: justify;
}
.nav-link {
    flex-direction: column;
    position: relative;
    text-decoration: none;
    display: block;
    margin-left: 35px;
    height: 15px;
    font-family: Lato;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.nav-link:-webkit-any-link:focus-visible {
    outline-offset: 1px;
}
.nav-link:hover::after {
    content: "";
    position: absolute;
    left: 0px;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid rgb(119, 153, 169);
    padding-bottom: 3px;
}
@media (min-width: 1025px) {
    .nav-link {
        margin-left: 50px;
    }
}